{% extends "layout.html" %}

{% block content %}

		<div class="banner">
			<h1>ABOUT US</h2>
		</div>
		<div class="bigcontent">
			<div class="content">
				<h3>AWESOME TEAM</h3>
				<img src="/static/images/supreme.png" class="pic">
				<h5> We provide comprehensive technical support to the renewable energy industry. Our wind energy specialists help clients in both the onshore and offshore wind energy sectors develop systems that are as efficient and cost-effective as possible.</h5>
				<h5> We objectively assess potential investments and provide a full range of technical and consulting services in planning and executing wind energy projects. Our services include identification of prospective wind farm sites, resource assessment and micrositing of wind power stations in high-wind-speed environments; wind power assessment studies and grid impact studies; electrical interconnection studies; detailed design of complete balance of plant systems; and environmental and permitting support.</h5>
				<h5>We support clients by applying our core capabilities in geotechnical, civil and structural engineering; renewable generation, transmission and distribution system design; wind resource assessment; and equipment and process quality assurance. Our “total project delivery” approach allows wind energy clients to increase efficiency and reduce project risks. Find out what we can do for you.</h5>
			</div>
		</div>
			<div class="info">
				<div class="columns">
					<div class="colomn">
						<h6 class="topic" id = "id1">WHY US?</h6>
						<p class="lorem" id = "text1">Our company has resolved issues about the impact that turbines can have on the surrounding wildlife. In the case of older, less advanced turbine models, cases have been reported where birds flew into the rotating blades. There have been no similar incidents when using Whitesquare wind turbines.</p>
					</div>
					<div class="colomn">
						<h6 class="topic" id = "id2">MISSION</h6>
						<p class="lorem" id = "text2">Our mission is to change people's lives for the better with the help of wind power. Renewable energies are already the cheapest energy sources, and this will increasingly be the case. Wind power has advanced enormously from a technological viewpoint and their installation costs have lowered markedly.</p>
					</div>
					<div class="colomn">
						<h6 class="topic" id = "id3">OUR CEO</h6>
						<p class="lorem" id = "text3">Matthew Wilson created Whitesquare  to establish a systematic approach to bringing large-scale wind power solutions to rural industrial facilities in California and medium-sized utility-scale wind projects throughout the United States.</p>
					</div>
				</div>
			</div>

{% endblock %}