{% extends "layout.html" %}

{% block content %}

		<div class="banner">
			<h1>ABOUT US</h2>
		</div>
		<div class="bigcontent">
			<div class="content">
				<h3>HEART OF RUSSIA</h3>
				<!--<img src="/static/images/supreme.png" class="pic">-->
				<h5>Heart of Russia is a company that appeared in 2022 and was engaged in organizing tourist trips to several regions of Russia.
					To date, we have covered the whole of Russia and every year thousands of tourists from different countries discover Russia with us.
					We are included in the register of verified tour operators of Rostourism and are constantly improving the product of our work.
					Quality, stability and constant progress are our key to success.</h5>
				<h5>Our company offers trips to all regions of Russia, from the harsh beauties of the Russian North to the sunny Caucasus,
					from the shores of the Crimea to the volcanoes of Kamchatka. During your travels, you will discover unexplored places,
					the nature of the vast expanses of Russia and the hospitality of local residents. The site offers various types of recreation
					from quiet excursions to various types of outdoor activities such as hiking, rafting, horseback riding and even dog sledding!</h5>
				<h5><br>"It's not people who create travel, but travel that creates people" <br>John Steinbeck</h5>
			</div>
		</div>
			<div class="info">
				<div class="columns">
					<div class="colomn">
						<h6 class="topic" id = "id1">WHY US?</h6>
						<p class="lorem" id = "text1">We have proven organizers, secure payment and round-the-clock support in the tour.
					We always defend the interests of the tourist.
					The tour operator "will not burn out", the program will correspond to the selected one, the photos of the campsite and hotels will be real,
					and you will be met on time at the arrival airport.</p>
					</div>
					<div class="colomn">
						<h6 class="topic" id = "id2">MISSION</h6>
						<p class="lorem" id = "text2">Our task is to open Russia to tourists from all over the world, to show its identity and centuries-old traditions,
							a thousand-year history and unique architecture, the diversity of peoples, as well as their hospitality.
							We inspire people to travel around and give them the most unforgettable emotions.</p>
					</div>
					<div class="colomn">
						<h6 class="topic" id = "id3">BEST PRICE</h6>
						<p class="lorem" id = "text3">It is very important for us to meet the title of the company with the best price on the market,
							so we guarantee you the best prices! If you find a ready-made tour cheaper than ours, under the same conditions, contact us
							by mail dreamteam@gmail.com and we will offer it to you at the same or better price.</p>
					</div>
				</div>
			</div>
		<div class="buttonpicture">
			<div type="button" class="button" value="test">
				<a href="/services">GO TO TRIP</a>
			</div>
		</div>

{% endblock %}