{% extends "layout.html" %}

{% block content %}


<div class="banner">
    <img class="banner-img" src="https://icdn.bolshayastrana.com/1200x00/ec/d5/ecd5cae11cb3e6a0cbc566b0e0811fe2.jpeg" alt="Текст сверху картинки">
    <div class="banner-text">
        <span>Altai. Mountains and glaciers Aktru and Mars</span><br>
        <span>Altai</span>
    </div>
</div>


<div class="main">
    <div class="description">
        Aktru gorge, amazing in its beauty, is hidden from the eyes in the very heart of the Altai Mountains. Alpine lakes, glaciers and snowy peaks impress with their grandiosity. And larches on the banks of a mountain river add color.
        <br><br>
        New acquaintances, a bunch of photos and priceless moments will become a pleasant baggage that you will take with you from Altai along with fragrant teas and honey.
    </div>

    <div class="gallary">
        <div class="first_row">
            <div class="gallery_item">
                <img class="fr" src="https://icdn.bolshayastrana.com/1200x00/ec/d5/ecd5cae11cb3e6a0cbc566b0e0811fe2.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="fr" src="https://icdn.bolshayastrana.com/1200x00/85/ea/85ea2d31e71329df3fe53e762ecea52f.jpeg" />
            </div>
        </div>

        <div class="second_row">
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/02/e5/02e539077815155327518af05ba438c1.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/5f/bc/5fbcbdf9c2b5a3eb301cade0840dded0.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/1d/bb/1dbb5d59e50d87cec56976b11f6d1a4b.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/c8/d5/c8d53babe487d719527eb40c9191254f.jpeg" />
            </div>
        </div>
    </div>


    <div class="program-container">
        <section>
            <div class="Tour_program">
                <h5>Tour program</h5>
                <button class="rev_hide" name="rev">See all</button>
            </div>

                <div class="day">
                    <div class="day_name">
                            <div class="number">1st day</div>
                            <div class="tittle">Novosibirsk - Kurai settlement</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Meeting of the group at 23:00 of the previous day on the square of the railway station in Novosibirsk.</p>
                        <p class="text-program">Briefing on the way. Along the way, stops at cafes and sights are planned. Also, if necessary, we will pick up part of the group in Barnaul / Gorno-Altaisk.</p>
                        <p class="text-program">On the way, we will overcome two picturesque passes Seminsky and Chike-taman, from where stunning views open up.</p>
                        <p class="text-program">Let us dwell on the confluence of the great Altai rivers Chuya and Katun. We will see petroglyphs - ancient drawings carved on stones.</p>
                        <p class="text-program">We will also visit the Maiden's Tears waterfall.</p>
                        <p class="text-program">We are accommodated in a picturesque forest on the bank of a stream among larches and cedars in tents.</p>
                        <p class="text-program">On the way, you have already managed to appreciate the beauty of the Altai mountains. But the beauty is yet to come.</p>
                        <p class="text-program">We will prepare dinner and at the meal we will get acquainted with all the participants who have not had time to do this yet. After all, we have a whole mountain journey hand in hand.</p>
                        <p class="text-program">The rest of the day you can walk in the immediate vicinity of the camp.</p>
                        <p class="text-program">auto 840 km. Just about 13-14 hours.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">2nd day</div>
                        <div class="tittle">Uchitel Pass, Uchitel Peak</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">After an excellent breakfast, we will make an ascent to the Uchitel pass, and from it to the neighboring peak.</p>
                        <p class="text-program">We will find ourselves at an altitude of 3,050 meters above sea level, from where a great view of the Small Aktru glacier and Karatash peak opens.</p>
                        <p class="text-program">We will have a lunch snack and slowly begin to descend back to the camp.</p>
                        <p class="text-program">In the evening, a soft starry blanket will cover us.</p>
                        <p class="text-program">5 km walking light. Climb 800 meters and descent 800 meters.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">3rd day</div>
                        <div class="tittle">Blue Lake and Yubileiny Peak</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Today we have an early rise. In general, you need to get used to getting up early. In the mountains, the weather is usually great in the morning.</p>
                        <p class="text-program">We have a good walking day ahead of us. We will climb lightly to the Blue Lake - this is a real mountain lake.</p>
                        <p class="text-program">Along the way, we will enjoy the mountain peaks, the Big Aktru Glacier and, of course, the most beautiful mountain in the area - Aktru Peak, 4,044 meters high. On the lake we will have a snack and go up the steep path up to the top of Mount Yubileinaya.</p>
                        <p class="text-program">A stunning panorama of the entire Kurai steppe opens from the top, and Aktru is just a stone's throw from the top.</p>
                        <p class="text-program">In the evening we will cook a great dinner at the camp.</p>
                        <p class="text-program">15 km on foot light. Climb - 1200 m, descent - 1200 m.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">4th day</div>
                        <div class="tittle">Daytime</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Today will be the opportunity to sleep a little longer.</p>
                        <p class="text-program">Let's move breakfast time by a couple of hours.</p>
                        <p class="text-program">On this day, you can devote time to yourself, dream, take pictures, take a leisurely walk around the neighborhood.</p>
                        <p class="text-program">It will be possible to walk to the Small Aktru glacier.</p>
                        <p class="text-program">After dinner, in the late afternoon we will go to the bathhouse.</p>
                        <p class="text-program">In general, a bath with a view of the mountain peaks, the purest air and water leave an indelible impression on the body and soul.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">5th day</div>
                        <div class="tittle">Kurai - pos. Chagan-Uzun - Altai Mars</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">After breakfast, we will have some more time to take memorable photos and enjoy epic mountain views.</p>
                        <p class="text-program">After that, we will load things into the all-terrain vehicle and go back to the village of Kurai.</p>
                        <p class="text-program">From Kuray by minibus we will move to the village. Chagan-Uzun, from where SUVs will take us to the Altai Mars.</p>
                        <p class="text-program">Walking through these mountains is really impressive. You seem to be transported through space and find yourself on the Red Planet. And in the pre-sunset hours it is especially beautiful here.</p>
                        <p class="text-program">After Mars, we will move to a cozy camp site with houses.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">6th day</div>
                        <div class="tittle">Return to Novosibirsk. Departure</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">In the morning we have breakfast and move forward.</p>
                        <p class="text-program">We are going back to Novosibirsk.</p>
                        <p class="text-program">If necessary, we will bring a part of the group to Barnaul / Gorno-Altaisk.</p>
                        <p class="text-program">On the way, we will stop at the largest souvenir market in the village of Manzherok, where without haste you can take a walk and buy various souvenirs from tea collection and honey to Mongolian items made from camel wool.</p>
                        <p class="text-program">Estimated arrival in Novosibirsk 22 – 23:00.</p>
                        <p class="text-program">We recommend booking tickets overnight or the next day.</p>
                    </div>
                </div>




        </section>
    </div>



    <div class="book">
        <h5 style="padding-bottom: 30px">Send a request to the organizer</h5>

        <div class="book-order">
            <div class="book-order-text">
                <div class="price">33000 ₽</div>
                <div>Nearest arrival: 2023-07-24</div>
                <div>6 days and 5 nights</div>
            </div>


            <div type="button" class="book-button">
                <a href="/order">Book a trip</a>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/static/javascripts/tour.js"></script>
{% endblock %}