{% extends "layout.html" %}

{% block content %}


<div class="banner">
    <img class="banner-img" src="https://icdn.bolshayastrana.com/1200x410/2d/55/2d558596ddd6aebd7d71739fbdf487ca.webp" alt="Текст сверху картинки">
    <div class="banner-text">
        <span>Rainbow of Altai mountains</span><br>
        <span>Altai</span>
    </div>
</div>


<div class="main">
    <div class="description">
        This is a great opportunity to relax with the whole family, including children, to see Altai in all its splendor and diversity,
        starting with pine-deciduous forests along the Chui tract, continuing with the steppe landscape of the Kurai basin and ending with the snow-ice desert of the North Chui Ridge.
        Tourists will visit the museum.Anokhina, get acquainted with the secrets and legends of the Karakol Valley and spend the night in the Uch-Enmek Nature Park, spend two days in the most beautiful mountain gorge in the valley of the Chulyshman River,
        which has a unique microclimate, and cross from south to north the pearl of Altai – Teletskoye Lake.
    </div>

    <div class="gallary">
        <div class="first_row">
            <div class="gallery_item">
                <img class="fr" src="https://icdn.bolshayastrana.com/1200x00/2d/55/2d558596ddd6aebd7d71739fbdf487ca.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="fr" src="https://icdn.bolshayastrana.com/1200x00/6a/62/6a62cad162524a8d1536871a8158cb2c.jpeg" />
            </div>
        </div>
        <div class="second_row">
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/a5/13/a5131d84a543e5d0623272460c2f451b.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/ac/62/ac62b104012665fcf352913d9b540e67.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/1d/b5/1db599ecf3761aa393e2a5194d08a5e3.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/fd/25/fd25cc2087116e55de31b67c56e1ae97.jpeg" />
            </div>
        </div>
    </div>


    <div class="program-container">
        <section>
            <div class="Tour_program">
                <h5>Tour program</h5>
                <button class="rev_hide" name="rev">See all</button>
            </div>

                <div class="day">
                    <div class="day_name">
                            <div class="number">1st day</div>
                            <div class="tittle">Arrival at the tourist complex "Taezhnik". Transfer to the Aru-Kem cordon</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Check-in at the eco-hotel "Taezhnik" strictly before 13:00 on the day of the start of the tour or the day before.</p>
                        <p class="text-program">Meeting at the airport of Gorno-Altaysk by group transfer according to the schedule of arrival of aircraft.</p>
                        <p class="text-program">Transfer to the eco-hotel "Taezhnik", breakfast for those who arrived at the hotel before 10:45, we are waiting for those who arrive from Barnaul or on flights arriving before 12:30 at the airport of Gorno-Altaysk.</p>
                        <p class="text-program">While waiting for those who want to walk along the banks of the Katun River or take an excursion to Mount Cherepan, which overlooks the valley of the Katun River.</p>
                        <p class="text-program">Getting to know the group and the guide, solving organizational issues.</p>
                        <p class="text-program">Lunch at the restaurant of the eco-hotel "Taezhnik" from 13:00 to 13:45.</p>
                        <p class="text-program">Departure for the route at 14:00.</p>
                        <p class="text-program">It is possible to shift the departure time and the place of lunch organization due to objective circumstances (for example, some air travel was delayed, and some tourists arrived later).</p>
                        <p class="text-program">Transfer to the Aru-Kem cordon, which is located in the protected area of the Karakol Valley.</p>
                        <p class="text-program">On the way, visit the ethnomuseum in the village of Kulada.</p>
                        <p class="text-program">The only night when accommodation in houses with a stove is designed for 3-6 people in the house. (single accommodation on the cordon is not expected, double accommodation on request)</p>
                        <p class="text-program">Length: auto – 150 km.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">2nd day</div>
                        <div class="tittle">Lake Aru-Kem. Transfer to the village of Chibit</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Breakfast at the cordon cafe.</p>
                        <p class="text-program">Walking radial excursion to the hidden lake Aru-Kem (about 8 km), on return to the cordon – lunch, after lunch – return to the Chuisky tract and transfer to the Nomad railway station (or similar in the area of the village of Aktash), on the way stops at the Chike-Taman pass, at the confluence of Chuya and Katun, at the monument to the drivers of the Chui tract.</p>
                        <p class="text-program">The Chuisky Tract is a road included in the TOP 10 most beautiful roads in the world, and travelers will appreciate the contrasts – during the trip they will get into different natural and climatic zones.</p>
                        <p class="text-program">Accommodation in rooms of the Nomad eco-complex, located in the village of Chibit, or its analogues.</p>
                        <p class="text-program">Dinner in a cafe.</p>
                        <p class="text-program">For those who have purchased a ticket in cabins with facilities on the territory – a shower on the territory is included in the price of the tour.</p>
                        <p class="text-program">Length: by car – 200 km, on foot – 8 km.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">3rd day</div>
                        <div class="tittle">Excursion to Altai Mars and Geyser Lake</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Breakfast in the cafe.</p>
                        <p class="text-program">Departure for the tour.</p>
                        <p class="text-program">The participants of the trip will visit the world of bright colors and contrasts.</p>
                        <p class="text-program">The first object of the visit will be a unique water object – the so-called "geyser" lake, from the day of which air periodically escapes from the blue clay.</p>
                        <p class="text-program">Forming bizarre patterns on the surface of the water.</p>
                        <p class="text-program">The place is very famous among travelers.</p>
                        <p class="text-program">Continuing along the Chui Tract towards the border with Mongolia, the guests of the region will have magnificent views of the glaciers and eternal snows of the North Chui Ridge, a stop is provided at the observation deck, where travelers will not only enjoy the views of the tract and mountains, but also keep a lot of photos for memory.</p>
                        <p class="text-program">The next object will be the valley of the Kyzyl-Chin River, called by tourists "Altai Mars" for the fact that the earth and the mountain slopes on it are all shades of red, interspersed with yellow and purple.</p>
                        <p class="text-program">During the tour, tourists will visit not only the first, but also the second "Mars".</p>
                        <p class="text-program">Lunch on "Mars" (in the form of a snack), return to the tourist complex, dinner. </p>
                        <p class="text-program">Bathhouse. </p>
                        <p class="text-program">It is possible to rearrange the excursions in places. </p>
                        <p class="text-program">Length: 120 km by car, 4 km on foot. </p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">4th day</div>
                        <div class="tittle">Transfer to the valley of the Chulyshman River</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Breakfast in the cafe.</p>
                        <p class="text-program">Eviction from houses.</p>
                        <p class="text-program">Departure to the route along the Ulagan highway, which is located along many lakes.</p>
                        <p class="text-program">The first stop on the way will be the popular Red Gate, a place where the road is cut through red rocks.</p>
                        <p class="text-program">Then the guests of Altai will visit the Ulagan pass – the highest automobile pass in the republic, its height above sea level is 2080 meters, they will see the Kidel Lake.</p>
                        <p class="text-program">Lunch at a cafe in the village of Ulagan, transfer to an all-terrain vehicle bus, continuation of the journey, the next object of visit will be the mounds of the Pazyryk culture, where the participants of the route will be told about the excavation of mounds and the funerary culture of the ancient inhabitants of the region.</p>
                        <p class="text-program">Having reached the Katu-Yaryk pass, the group gets out of the car and admires the valley of the Chulyshman River from a bird's-eye view.</p>
                        <p class="text-program">Having captured the beautiful views for memory, tourists descend from the pass on foot (3.5 km) for security reasons.</p>
                        <p class="text-program">Chulyshmanskaya Valley is a place that has recently begun to develop in terms of infrastructure, there are no communications and power lines here.</p>
                        <p class="text-program">Light and water are sold thanks to generators in the evening.</p>
                        <p class="text-program">Accommodation in a tourist complex, dinner, sauna.</p>
                        <p class="text-program">Length: 120 km by car, 3 km on foot.</p>
                    </div>
                </div>
                <div class="day">
                    <div class="day_name">
                        <div class="number">5th day</div>
                        <div class="tittle">Breakfast in the cafe.</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">After breakfast, tourists will have a walking radial exit to one of the waterfalls of the Chulyshman Valley – Kurkure, which means "noisy, rumbling" with a total water height of about 30 meters, while the waterfall consists of two cascades.</p>
                        <p class="text-program">A huge mass of water falls from the ledge, creating a cloud of dust and noise.</p>
                        <p class="text-program">Which is heard long before the waterfall itself opens to travelers.</p>
                        <p class="text-program">After returning to the accommodation, have lunch in a cafe.</p>
                        <p class="text-program">For those who wish to take an afternoon excursion to the Malda Waterfall-ours.</p>
                        <p class="text-program">In the evening, dinner and sauna.</p>
                        <p class="text-program">Length: 13 km on foot.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">6th day</div>
                        <div class="tittle">Stone mushrooms. Teletskoye Lake. S. Artybash</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Breakfast in the cafe.</p>
                        <p class="text-program">Departure along the route by all-terrain vehicle along the valley of the Chulyshman River.</p>
                        <p class="text-program">The first stop on the way is the shore of Chulyshman opposite a unique natural phenomenon – Stone Mushrooms, where after crossing the river by boat the group goes on a walking tour to the mushrooms.</p>
                        <p class="text-program">At the end of the tour, return to the car and move to Cape Kyrsay – the southern shore of Lake Teletskoye.</p>
                        <p class="text-program">Here the participants of the route transfer to boats and continue their journey, crossing the waters of Lake Teletskoye from south to north.</p>
                        <p class="text-program">On the way, stop at the Korbu waterfall, where guests will have a delicious lunch, then move to the village of Artybash, where after leaving the boats, tourists head to the location of the t/k Istok.</p>
                        <p class="text-program">Placement.</p>
                        <p class="text-program">Supper.</p>
                        <p class="text-program">Length: car 80 km, boat 75 km.</p>
                    </div>
                </div>
                          <div class="day">
                    <div class="day_name">
                        <div class="number">7th day</div>
                        <div class="tittle">Transfer to Gorno-Altaysk. Museum named after. Anokhina. End of the program</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Breakfast in the cafe.</p>
                        <p class="text-program">Eviction from the rooms.</p>
                        <p class="text-program">Transfer to the city of Gorno-Altaysk, a walking tour to the Tuu-Kaya mountain, after which lunch will be organized in the cafe of the city.</p>
                        <p class="text-program">After lunch, excursion to the National Museum.Anokhina.</p>
                        <p class="text-program">After the excursion to the museum, the end of the program, those guests who leave the next day will be taken to the hotels of the city where they booked rooms, or to the airport of those who leave that evening (tickets can be purchased for flights departing after 16:00).</p>
                        <p class="text-program">For those who have booked accommodation in an additionalovernight outside the city and the village of Mima, the guide will help you book a taxi or tell you which bus you can get to.</p>
                        <p class="text-program">Those who wish to go to Barnaul or Novosibirsk can leave by regular buses of the Gorno-Altaisk bus station or with taxi drivers.</p>
                        <p class="text-program">Length: 170 km by car, 1 km on foot.</p>
                    </div>
                </div>
        </section>
    </div>
<div class="book">
        <h5 style="padding-bottom: 30px">Send a request to the organizer</h5>

        <div class="book-order">
            <div class="book-order-text">
                <div class="price">62000 ₽</div>
                <div>Nearest arrival: 2023-05-22</div>
                <div>7 days and 6 nights</div>
            </div>


            <div type="button" class="book-button">
                <a href="/order">Book a trip</a>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/static/javascripts/tour.js"></script>
{% endblock %}