{% extends "layout.html" %}

{% block content %}

		<div class="banner">
			<h1>BLOG</h1>
		</div>
		<div class="content">
			<div class="post">
				<h3>Wind power stations impact on the environment.</h3>
				<h3>Clean and Renewable Energy Source.</h3>
				<div class="info">
					<h5>10/02/2022 by <a class="link"; href="#">Yane Naumoski</a>, <a class="link"; href="#">147 comments</a> & 510 shares</h5>
				</div>
				<p class="lorem">In recent years, the growth of capacity to generate
                electricity from wind energy has been extremely rapid, To
                the degree that wind energy reduces the need for electricity
                generation using other sources of energy, it can reduce the
                adverse environmental impacts of those sources, such as
                production of atmospheric and water pollution, including
                greenhouse gases; production of nuclear wastes; degradation
                of landscapes due to mining activity; and damming of rivers. Generation of electricity by wind energy has the potential to
                reduce environmental impacts, because unlike generators
                that use fossil fuel, it does not result in the generation of
                atmospheric contaminants or thermal pollution, and it has been attractive to many governments, organizations, and individuals. But others have focused on adverse environmental impacts of wind-energy facilities, which include visual and other impacts on humans; and effects on Manuscript received December 5, 2013; revised February 6, 2013.</p>
				<button>CONTINUE READING</button>		
			</div>
			<div class="post">
				<h3>Free wind power.</h3>
				<h3>Advantages & Disadvantages of Wind Energy.</h3>
				<div class="info">
					<h5>09/02/2022 by <a class="link"; href="#">Yane Naumoski</a>, <a class="link"; href="#">214 comments</a> & 322 shares</h5>
				</div>
				<p class="lorem">As society moves away from an energy system dominated by fossil fuels, we must implement sustainable and renewable energy sources. Most people are familiar with wind power, but do the benefits outweigh the costs of its use? The following are many of the advantages and disadvantages of using wind power as an energy source. Unlike costly fossil fuels, the wind is free and all around us, whether we harness it for our energy use or not. Wind energy systems can be set up independently of a grid, so wind turbines are ideal for the production of electricity in rural areas or in developing countries that lack substantial infrastructure.</p>
				<button>CONTINUE READING</button>		
			</div>
		</div>

{% endblock %}