{% extends "layout.html" %}

{% block content %}

		<div class="homebanner">
			<h1>HEART OF RUSSIA</h1>
			<h3>ОТКРОЙ РОССИЮ ВМЕСТЕ С НАМИ</h3>
		</div>
		<div class="colomns">
			<div class="colomn">
				<h4 class="topic">ABOUT US</h4>
				<p class="lorem">Heart of Russia is a company that carries out trips in Russia. We help you find outdoor activities according to your preferences. We have been working since 2022. We are included in the register of verified tour operators of Rostourism. Quality, stability and constant progress are our key to success.</p>
			</div>
			<div class="colomn">
				<h4 class="topic">TRIPS</h4>
				<p class="lorem">Wherever you are going – Baikal, Altai, Karelia, Yakutia, the Urals – with the help of a Large Country, you will find a suitable type of vacation, taking into account individual wishes, budget and level of physical fitness. Just set up search filters, travel dates, types of holidays and choose your active tour!</p>
			</div>
			<div class="colomn">
				<h4 class="topic">QUALITY CONTROL</h4>
				<p class="lorem">After each tour, we collect tourist reviews about the organizer. Most of our organizers have excellent grades. If we receive bad reviews about the tour and the organizer, we understand the situation and terminate cooperation with unscrupulous organizers.</p>
			</div>
		</div>
		<div class="gallary">
			<div class="cssSlider">
				<ul class="slides">
					<li id="slide1"><img src="https://images.wallpaperscraft.ru/image/single/devushka_puteshestvie_kemping_166108_2560x1080.jpg?auto=format&fit=crop&w=840&q=60" alt="" /></li>
					<li id="slide2"><img src="/static/images/st-petersburg.jpg?auto=format&fit=crop&w=840&q=60" alt="" /></li>
					<li id="slide3"><img src="https://images.hdqwalls.com/download/ski-lift-snow-trees-winter-5k-3a-2560x1080.jpg?auto=format&fit=crop&w=840&q=60" alt="" /></li>
					<li id="slide4"><img src="https://images.wallpaperscraft.ru/image/single/more_okean_volny_yakhta_korabl_112119_2560x1080.jpg?auto=format&fit=crop&w=840&q=60" alt="" /></li>
					<li id="slide5"><img src="/static/images/man-touris.jpg?auto=format&fit=crop&w=840&q=60" alt="" /></li>
				</ul>
				<ul class="thumbnails">
					<li><a class="thumb" href="#slide1"><img src="https://images.wallpaperscraft.ru/image/single/devushka_puteshestvie_kemping_166108_2560x1080.jpg?auto=format&fit=crop&w=840&q=60" /></a></li>
					<li><a class="thumb" href="#slide2"><img src="/static/images/st-petersburg.jpg?auto=format&fit=crop&w=840&q=60" /></a></li>
					<li><a class="thumb" href="#slide3"><img src="https://images.hdqwalls.com/download/ski-lift-snow-trees-winter-5k-3a-2560x1080.jpg?auto=format&fit=crop&w=840&q=60" /></a></li>
					<li><a class="thumb" href="#slide4"><img src="https://images.wallpaperscraft.ru/image/single/more_okean_volny_yakhta_korabl_112119_2560x1080.jpg?auto=format&fit=crop&w=840&q=60" /></a></li>
					<li><a class="thumb" href="#slide5"><img src="/static/images/man-touris.jpg?auto=format&fit=crop&w=840&q=60" /></a></li>
				</ul>

			</div>
		</div>

{% endblock %}