{% extends "layout.html" %}

{% block content %}

		<div class="homebanner">
			<h1>WIND POWER</h1>
			<h3>CONVENIENT, CHEAP & EFFICIENT</h3>
			<button class="learn">LEARN MORE</button>
		</div>
		<div class="colomns">
			<div class="colomn">
				<h4 class="topic">ABOUT US</h4>
				<p class="lorem">The academic term for wind power—eolic energy. We have worked with different entities—developers, EPC contractors, lenders and turbine suppliers—in the planning and execution of wind energy projects.</p>
				<h5>READ MORE</h5>
			</div>
			<div class="colomn">
				<h4 class="topic">WHY WIND</h4>
				<p class="lorem">Wind turbines are becoming more and more popular. They are used not only as an additional source of electricity, but often as the main one, due to the reliability of the design, ease of use and an attractive element of the exterior of a country house.</p>
				<h5>LEARN MORE</h5>
			</div>
			<div class="colomn">
				<h4 class="topic">CHEAP ENERGY</h4>
				<p class="lorem">Wind energy is today the cheapest source of electricity generation in majority of places in the world. Unsubsidized onshore wind energy is cheaper than any other energy source, including conventional power generation sources.</p>
				<h5>GET IT NOW</h5>
			</div>
		</div>
		<div class="recent">
			<div class="RecentPosts">
			   <p class="recentposts">RECENT POSTS</p>
			</div>
		<div class="contain">
			<div id="post1">				
		<img src="/static/images/Global.jpg" class="pic">
		<h6 class="zagalovoc">Act Advancing Offshore Wind and Clean Energy</h6>
				<p class="Donec">The Massachusetts House of Representatives passed legislation to advance offshore wind and clean energy.</p>
			</div>
			<div id="post2">			
		<img src="/static/images/Global.jpg" class="pic">
		<h6 class="zagalovoc">Empire Wind offshore projects</h6>
				<p class="Donec">Engineering consulting group COWI has been contracted by Empire Offshore Wind to deliver turnkey design for the wind turbine foundation.</p>
			</div>
			<div id="post3">				
		<img src="/static/images/Global.jpg" class="pic">
		<h6 class="zagalovoc">Sapphire Sky Wind farm</h6>
				<p class="Donec">Global renewable energy developer Invenergy started construction on the 250-MW Sapphire Sky Wind Energy Center located in McLean County, Illinois.</p>
			</div>
		</div>

{% endblock %}