{% extends "layout.html" %}

{% block content %}

		<div class="homebanner">
			<h1>HEART OF RUSSIA</h1>
			<h3>ОТКРОЙ РОССИЮ ВМЕСТЕ С НАМИ</h3>
		</div>
		<div class="colomns">
			<div class="colomn">
				<h4 class="topic">ABOUT US</h4>
				<p class="lorem">Heart of Russia is a company that carries out trips in Russia. We help you find outdoor activities according to your preferences. We have been working since 2022. We are included in the register of verified tour operators of Rostourism. Quality, stability and constant progress are our key to success.</p>
			</div>
			<div class="colomn">
				<h4 class="topic">TRIPS</h4>
				<p class="lorem">Wherever you are going – Baikal, Altai, Karelia, Yakutia, the Urals – with the help of a Large Country, you will find a suitable type of vacation, taking into account individual wishes, budget and level of physical fitness. Just set up search filters, travel dates, types of holidays and choose your active tour!</p>
			</div>
			<div class="colomn">
				<h4 class="topic">QUALITY CONTROL</h4>
				<p class="lorem">After each tour, we collect tourist reviews about the organizer. Most of our organizers have excellent grades. If we receive bad reviews about the tour and the organizer, we understand the situation and terminate cooperation with unscrupulous organizers.</p>
			</div>
		</div>
		<div class="recent">
			<div class="RecentPosts">
			   <p class="recentposts">RECENT POSTS</p>
			</div>
		<div class="contain">
			<div id="post1">				
		<img src="/static/images/Global.jpg" class="pic">
		<h6 class="zagalovoc">Act Advancing Offshore Wind and Clean Energy</h6>
				<p class="Donec">The Massachusetts House of Representatives passed legislation to advance offshore wind and clean energy.</p>
			</div>
			<div id="post2">			
		<img src="/static/images/Global.jpg" class="pic">
		<h6 class="zagalovoc">Empire Wind offshore projects</h6>
				<p class="Donec">Engineering consulting group COWI has been contracted by Empire Offshore Wind to deliver turnkey design for the wind turbine foundation.</p>
			</div>
			<div id="post3">				
		<img src="/static/images/Global.jpg" class="pic">
		<h6 class="zagalovoc">Sapphire Sky Wind farm</h6>
				<p class="Donec">Global renewable energy developer Invenergy started construction on the 250-MW Sapphire Sky Wind Energy Center located in McLean County, Illinois.</p>
			</div>
		</div>

{% endblock %}