{% extends "layout.html" %}

{% block content %}

		<div class="banner">
			<h1>APPLICATION</h1>
		</div>
		<div class="content">
			<div class="columns">
					<div class="colomn">
						<h3>Application form</h3>
						<input  name="fname" class="name" placeholder="First name" pattern="[a-z]{1,20}" required>
						<input  name="lname" class="lname" placeholder="Last name" pattern="[a-z]{1,20}" required>
						<input  name="email" type="email" class="lname" placeholder="E-mail" required>
						<input  name="number" class="lname" placeholder="Phone number" pattern="[0-9]{1,20}" required>
						<select class="age" name="user_profile_color_1">
								  <option value=" ">Number of adults</option>
								  <option value="1">0</option>
								  <option value="2">1</option>
								  <option value="3">2</option>
								  <option value="4">3</option>
								  <option value="4">4</option>
								  <option value="4">5</option>
						</select>
						<select class="age" name="user_profile_color_1">
								  <option value=" ">Number of children</option>
								  <option value="1">0</option>
								  <option value="2">1</option>
								  <option value="3">2</option>
								  <option value="4">3</option>
								  <option value="4">4</option>
								  <option value="4">5</option>
						</select>
					</div>

					<div class="colomn">
						<br><br><br><br>
						<select class="drop" name="user_profile_color_1">
							  <option value=" ">Select the arrival date</option>
							  <option value="1">2-7 January 2023(6 days) - 74 200 ₽</option>
							  <option value="2">1-6 February 2023(6 days) - 74 200 ₽</option>
							  <option value="3">21-26 February 2023(6 days) - 74 200 ₽</option>
							  <option value="4">11-17 March 2023(6 days) - 74 200 ₽</option>
						</select>
						<textarea name="reqtext" class="lname" placeholder="Your comments and suggestions"></textarea>
						<div class="btnflex">
							<button id="sendbtn" type="submit" value="Submit">Send a request</button>
						</div>
					</div>
			</div>
		</div>

{% endblock %}