{% extends "layout.html" %}

{% block content %}

		<div class="banner">
			<h1>SERVICES</h1>
		</div>
		<div class="content">
			<div class="dropdown">
			<input onclick="func_show('place_drop')" type="text" placeholder="Выберите место" id="myInput" onkeyup="filterFunction()">
		  <div id="place_drop" class="dropdown-content">
			<a href="#">Место 1</a>
			<a href="#">Место 2</a>
			<a href="#">Место 3</a>
			<a href="#">Место 4</a>
			<a href="#">Место 5</a>
			<a href="#">Место 6</a>
			<a href="#">Место 7</a>
		  </div>
		</div>

		<div class="dropdown">
			<input onclick="func_show('type_drop')" type="text" placeholder="Выберите тип" id="myInput" onkeyup="filterFunction()">
		  <div id="type_drop" class="dropdown-content">
			<a href="#">Вид 1</a>
			<a href="#">Вид 2</a>
			<a href="#">Вид 3</a>
			<a href="#">Вид 4</a>
			<a href="#">Вид 5</a>
			<a href="#">Вид 6</a>
			<a href="#">Вид 7</a>
		  </div>
		</div>

		<div class="dropdown">
			<input onclick="func_show('date_drop')" type="text" placeholder="Выберите дату" id="myInput" onkeyup="filterFunction()">
		  <div id="date_drop" class="dropdown-content">
			<a id="a_drop" onclick="func_click_on_a('a_drop')" href="#">Место 1</a>
			<a href="#">Место 2</a>
			<a href="#">Место 3</a>
			<a href="#">Место 4</a>
			<a href="#">Место 5</a>
			<a href="#">Место 6</a>
			<a href="#">Место 7</a>
		  </div>
		</div>
		</div>
		<div class="info">
				<div class="columns">
					<div class="colomn">
						<h6 class="topic">WHY US?</h6>
						<p class="lorem">Our company has resolved issues about the impact that turbines can have on the surrounding wildlife. In the case of older, less advanced turbine models, cases have been reported where birds flew into the rotating blades. There have been no similar incidents when using Whitesquare wind turbines.</p>
					</div>
					<div class="colomn">
						<h6 class="topic">MISSION</h6>
						<p class="lorem">Our mission is to change people's lives for the better with the help of wind power. Renewable energies are already the cheapest energy sources, and this will increasingly be the case. Wind power has advanced enormously from a technological viewpoint and their installation costs have lowered markedly.</p>
					</div>
					<div class="colomn">
						<h6 class="topic">OUR CEO</h6>
						<p class="lorem">Matthew Wilson created Whitesquare  to establish a systematic approach to bringing large-scale wind power solutions to rural industrial facilities in California and medium-sized utility-scale wind projects throughout the United States.</p>
					</div>
				</div>
			</div>

{% endblock %}