{% extends "layout.html" %}

{% block content %}

		<div class="banner">
			<div class="dropdown">
			<input class="input-content" onclick="func_show('place_drop')" type="text" placeholder="Место" id="myInput1" onkeyup="filterFunction()">
		  <div id="place_drop" class="dropdown-content">
			<a id="a1" onclick="click_atag(id,'myInput1')" href="#">Место 1</a>
			<a id="a2" onclick="click_atag(id,'myInput1')" href="#">Место 2</a>
			<a id="a3" onclick="click_atag(id,'myInput1')" href="#">Место 3</a>
			<a id="a4" onclick="click_atag(id,'myInput1')" href="#">Место 4</a>
			<a id="a5" onclick="click_atag(id,'myInput1')" href="#">Место 5</a>
			<a id="a6" onclick="click_atag(id,'myInput1')" href="#">Место 6</a>
			<a id="a7" onclick="click_atag(id,'myInput1')" href="#">Место 7</a>
		  </div>
			</div>

		<div class="dropdown">
			<input class="input-content" onclick="func_show('type_drop')" type="text" placeholder="Вид отдыха" id="myInput2" onkeyup="filterFunction()">
		  <div id="type_drop" class="dropdown-content">
			<a id="b1" onclick="click_atag(id,'myInput2')" href="#">Вид 1</a>
			<a id="b2" onclick="click_atag(id,'myInput2')" href="#">Вид 2</a>
			<a id="b3" onclick="click_atag(id,'myInput2')" href="#">Вид 3</a>
			<a id="b4" onclick="click_atag(id,'myInput2')" href="#">Вид 4</a>
			<a id="b5" onclick="click_atag(id,'myInput2')" href="#">Вид 5</a>
			<a id="b6" onclick="click_atag(id,'myInput2')" href="#">Вид 6</a>
			<a id="b7" onclick="click_atag(id,'myInput2')" href="#">Вид 7</a>
		  </div>
		</div>

		<div class="dropdown">
			<input class="input-content"  type="text" onfocus="(this.type='date')" placeholder="Дата" id="myInput3" >
		</div>
			<button  onclick="search_d()" class="dropbtn"> Поиск</button>
		</div>

		<div class="content">

		<div class="info">
				<div class="columns">
					<div class="colomn">
						<h6 class="topic">WHY US?</h6>
						<p class="lorem">Our company has resolved issues about the impact that turbines can have on the surrounding wildlife. In the case of older, less advanced turbine models, cases have been reported where birds flew into the rotating blades. There have been no similar incidents when using Whitesquare wind turbines.</p>
					</div>
					<div class="colomn">
						<h6 class="topic">MISSION</h6>
						<p class="lorem">Our mission is to change people's lives for the better with the help of wind power. Renewable energies are already the cheapest energy sources, and this will increasingly be the case. Wind power has advanced enormously from a technological viewpoint and their installation costs have lowered markedly.</p>
					</div>
					<div class="colomn">
						<h6 class="topic">OUR CEO</h6>
						<p class="lorem">Matthew Wilson created Whitesquare  to establish a systematic approach to bringing large-scale wind power solutions to rural industrial facilities in California and medium-sized utility-scale wind projects throughout the United States.</p>
					</div>
				</div>
			</div>
		</div>
{% endblock %}