{% extends "layout.html" %}

{% block content %}

		<div class="banner">
			<h1>SERVICES</h1>
		</div>
		<div class="content">
			<h3>MAIN SERVICE</h3>
			<p>Whitesquare is a global professional services company specialising in wind power and wind turbines. We are the world’s first classification society, created more than 25 years ago to get energy from the power of the wind. Because wind energy offers a huge number of advantages over traditional fossil fuels. Our technical expertise is offered in more than 70 locations, serving client based in 182 countries. </p>
			<div class="imgmark">
				<img src="/static/images/turbine.png" id="turbine">
				<div class="bullets">
					<div class="bul">
						<div class="quad"></div>
						<h4>Availability</h4>
					</div>
					<div class="bul">
						<div class="quad"></div>
						<h4>Practicality</h4>
					</div>
					<div class="bul">
						<div class="quad"></div>
						<h4>Environmental friendliness</h4>
					</div>
					<div class="bul">
						<div class="quad"></div>
						<h4>Cheap price</h4>
					</div>
					<div class="bul">
						<div class="quad"></div>
						<h4>Noiselessness</h4>
					</div>
					<div class="bul">
						<div class="quad"></div>
						<h4>Fast delivery and connection</h4>
					</div>
					<div class="bul">
						<div class="quad"></div>
						<h4>5-year warranty</h4>
					</div>
					<div class="bul">
						<div class="quad"></div>
						<h4>High performance</h4>
					</div>
					<div class="bul">
						<div class="quad"></div>
						<h4>Easy to use</h4>
					</div>
				</div>
			</div>
		</div>
		<div class="info">
				<div class="columns">
					<div class="colomn">
						<h6 class="topic">WHY US?</h6>
						<p class="lorem">Our company has resolved issues about the impact that turbines can have on the surrounding wildlife. In the case of older, less advanced turbine models, cases have been reported where birds flew into the rotating blades. There have been no similar incidents when using Whitesquare wind turbines.</p>
					</div>
					<div class="colomn">
						<h6 class="topic">MISSION</h6>
						<p class="lorem">Our mission is to change people's lives for the better with the help of wind power. Renewable energies are already the cheapest energy sources, and this will increasingly be the case. Wind power has advanced enormously from a technological viewpoint and their installation costs have lowered markedly.</p>
					</div>
					<div class="colomn">
						<h6 class="topic">OUR CEO</h6>
						<p class="lorem">Matthew Wilson created Whitesquare  to establish a systematic approach to bringing large-scale wind power solutions to rural industrial facilities in California and medium-sized utility-scale wind projects throughout the United States.</p>
					</div>
				</div>
			</div>

{% endblock %}