{% extends "layout.html" %}

{% block content %}


<div class="banner">
    <img class="banner-img" src="https://icdn.bolshayastrana.com/1200x00/6f/bb/6fbbb24775897d2333a6754b4c70feac.jpeg" alt="Текст сверху картинки">
    <div class="banner-text">
        <span>Hiking in the Taganay Winter Park</span><br>
        <span>Chelyabinsk region and the Urals</span>
    </div>
</div>


<div class="main">
    <div class="description">
        Taganay ridge can be called one of the most picturesque corners of the Urals. A real kingdom of rocks and stone
        rivers, mountain streams, impassable taiga and mountain tundra. A mountain country, unique in its beauty,
        covered with many legends and legends. Taganay attracts some with the beauty of pristine nature, others are
        looking for mysterious oracles of the legendary Hyperborea here. The mythical Chud people keep priceless
        treasures of rare minerals and precious stones in the depths of the Taganay mountains.

        Taganay is a mountain country unique in its beauty with the greatest natural resources,
        an interesting history and still unsolved mysteries.
    </div>

    <div class="gallary">
        <div class="first_row">
            <div class="gallery_item">
                <img class="fr" src="https://icdn.bolshayastrana.com/1200x410/57/73/5773955451653eb1f6ff3ba1a4dacb5b.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="fr" src="https://icdn.bolshayastrana.com/1200x410/57/73/5773955451653eb1f6ff3ba1a4dacb5b.jpeg" />
            </div>
        </div>
        <div class="second_row">
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x410/57/73/5773955451653eb1f6ff3ba1a4dacb5b.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x410/57/73/5773955451653eb1f6ff3ba1a4dacb5b.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x410/57/73/5773955451653eb1f6ff3ba1a4dacb5b.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x410/57/73/5773955451653eb1f6ff3ba1a4dacb5b.jpeg" />
            </div>
        </div>
    </div>


    <div class="program-container">
        <section>
            <div class="Tour_program">
                <h5>Tour program</h5>
                <button class="rev_hide" name="rev">See all</button>
            </div>

                <div class="day">
                    <div class="day_name">
                            <div class="number">1st day</div>
                            <div class="tittle">Two-headed Hill and Rattlesnake key crossing</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Meeting in Chelyabinsk until 09:00. Transfer to Zlatoust, NP Taganay.</p>
                        <p class="text-program">At the entrance to the park, we register and begin the active part of the route.</p>
                        <p class="text-program">After a few kilometers, the bolshaya Tesma River will meet on our way.</p>
                        <p class="text-program">From the river we are expected to climb to the White Key spring, there is also
                            a tourist shelter with the same name.</p>
                        <p class="text-program">A small snack.</p>
                        <p class="text-program">We will leave our backpacks at the shelter and make a radial ascent to one of the
                            peaks of the Two-headed Hill (feathers).</p>
                        <p class="text-program">After the descent, we have to go (3 km.) to the Rattlesnake Creek, where we
                            will spend the night.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">2nd day</div>
                        <div class="tittle">Transition to the Response ridge and Kialimsky cordon</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">We continue our way to the rock of the Response Ridge (1155 m). This is a
                            rock ridge with a length of more than 1 km, and a height of more than 100 meters.</p>
                        <p class="text-program">We have to climb it.</p>
                        <p class="text-program">From the bolshaya Tesma River to the Response Ridge, we went up all the
                            time, now we will go down to the old Kialim road to the Taganay shelter.</p>
                        <p class="text-program">And then along the old Kialim road we will reach the "Kialim cordon".</p>
                        <p class="text-program">We'll stay in it for the night.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">3rd day</div>
                        <div class="tittle">Ascent of Dalny Taganay and Itsyl</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">After breakfast, we will make a radial ascent to the Dalny Taganay mountain.</p>
                        <p class="text-program">There is a high-altitude weather station "Taganai Gora" on the top, at this
                            time it is no longer working, and is a shelter for tourists.</p>
                        <p class="text-program">As the altitude increases, the vegetation changes, starting with the taiga and
                            ending with the high-altitude tundra.</p>
                        <p class="text-program"> Upon returning to the cordon, we will have a snack and go to the radial exit to the city of Itsyl.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">4th day</div>
                        <div class="tittle">Passage shelter "Taganay", climbing Kruglitsa</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Today we will go back along the Kialim road to the Taganay shelter.</p>
                        <p class="text-program">We will leave our backpacks and climb Kruglitsa Mountain, the highest point of Taganay Park.</p>
                        <p class="text-program">From the top there are views of all the peaks of the park.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">5th day</div>
                        <div class="tittle">Transfer to the Central Estate</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">We return to the beginning of the route.</p>
                        <p class="text-program">We will pass through the stone rivers, cross the bolshaya Tesma River and go out to the central estate.</p>
                        <p class="text-program">This will be the end of our route.</p>
                        <p class="text-program">Overnight stay.</p>
                        <p class="text-program">Bathhouse.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">6th day</div>
                        <div class="tittle">Return to Chelyabinsk</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">11:00 – 14:00 Transfer from the Central Estate to Chelyabinsk.</p>
                        <p class="text-program">We remember and fix in memory for a long time all the most interesting moments of your trip.</p>
                        <p class="text-program">In order to keep the beauty of the Ural Mountains in your heart all year round.</p>
                        <p class="text-program">The length of the active part of the route is 65 km.</p>
                        <p class="text-program">The route or the schedule of the route can be adjusted on the spot, based on
                            weather conditions, the readiness of the group and other circumstances.</p>
                    </div>
                </div>
        </section>
    </div>
</div>

<script type="text/javascript" src="/static/javascripts/tour.js"></script>
{% endblock %}