{% extends "layout.html" %}

{% block content %}


<div class="banner">
    <img class="banner-img" src="https://icdn.bolshayastrana.com/1200x00/4f/3e/4f3e43fc357b4cf55a4432b5f0a538f3.jpeg" alt="Текст сверху картинки">
    <div class="banner-text">
        <span>Katun - sprint. Rafting on the Middle Katun</span><br>
        <span>Altai</span>
    </div>
</div>


<div class="main">
    <div class="description">
        Tame the water element by rafting down the Srednyaya Katun River in Altai. The section of the Middle Katun,
        from the Bolshoy Yaloman River to the Sumulta River, runs in the area of high mountain ranges and is characterized
        not only by the richness and diversity of manifestations of the obstinate river (III-IV category of complexity), but also by extraordinary natural beauty.
    </div>

    <div class="gallary">
        <div class="first_row">
            <div class="gallery_item">
                <img class="fr" src="https://icdn.bolshayastrana.com/1200x00/4f/3e/4f3e43fc357b4cf55a4432b5f0a538f3.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="fr" src="https://icdn.bolshayastrana.com/1200x00/82/06/820623a418b25ab44459e826afb24f13.jpeg" />
            </div>
        </div>

        <div class="second_row">
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/51/0e/510e2fdcc4c7ebff0f3121270706a008.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/ce/30/ce306e07ca2293fda9b8dc5d61b08743.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/81/eb/81eb02b618b4c1bdf9ac574d3288fc64.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/7f/af/7faf11ada4f6a2adbb9accf809892578.jpeg" />
            </div>
        </div>
    </div>


    <div class="program-container">
        <section>
            <div class="Tour_program">
                <h5>Tour program</h5>
                <button class="rev_hide" name="rev">See all</button>
            </div>

                <div class="day">
                    <div class="day_name">
                            <div class="number">1st day</div>
                            <div class="tittle">Tourist complex "Taezhnik" - the river Katun, Maly Yaloman</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Journey along the most ancient way of Siberia - the Chuysky tract. Along the way, tourists will learn about the history
                            of the Altai Mountains, about the traditions of its indigenous population.</p>
                        <p class="text-program">Accommodation in tents. Briefing, preparation for the trip.</p>
                        <p class="text-program">Length: auto - 300 km.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">2nd day</div>
                        <div class="tittle">Katun River, Maly Yaloman - Sumulta River</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Breakfast is cooked by guides on the fire.</p>
                        <p class="text-program">After the gathering of all participants of the rafting, a safety briefing on water tours, the selection of individual equipment.</p>
                        <p class="text-program">Snack lunch.</p>
                        <p class="text-program">Exit to the route.</p>
                        <p class="text-program">The first serious obstacle on the way is the Ilgumen threshold (grade IV)
                            with a length of 500 m and ramparts up to 4 m high, followed by the Kadrinskaya pipe threshold (grade III) 6 km. big waves, "barrels" and a huge whirlpool "Toadstool".</p>
                        <p class="text-program">This day ends above the Sabbath threshold at the General's camp.</p>
                        <p class="text-program">Dinner is cooked by guides on the fire.</p>
                        <p class="text-program">Length: raft - 48 km.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">3rd day</div>
                        <div class="tittle">General's glade - the mouth of the river. Kayancha</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Breakfast is cooked by guides on the fire.</p>
                        <p class="text-program">After breakfast - exit to the route.</p>
                        <p class="text-program">On this day, you will have to overcome 2 steps of the Shabash rapids (IV category of difficulty, length 700 m)
                            - one of the most dangerous on the Middle Katun) and 3 steps of the Kayancha rapids (II category of complexity) with its shivers and barrels</p>
                        <p class="text-program">The rafting of this day ends at the mouth of the Kayancha River.</p>
                        <p class="text-program">Walking tour to the ancient rock paintings - petroglyphs.</p>
                        <p class="text-program">Dinner is cooked by guides on the fire.</p>
                        <p class="text-program">Length: raft - 25 km.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">4th day</div>
                        <div class="tittle">Rafting river Kayancha - Kuyus. Transfer to the tourist center Taezhnik. Departure</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Breakfast is cooked by guides on the fire.</p>
                        <p class="text-program">On this day, the main obstacle during the rafting will be the Ayulinsky rapid (II category of difficulty).</p>
                        <p class="text-program">At the end of the rafting in the area with. Kuyus tourists transfer to cars and move to Taezhnik, where they will have dinner and a bath.</p>
                        <p class="text-program">Departure for those who go to Novosibirsk and Barnaul.</p>
                        <p class="text-program">For those who have chosen Gorno-Altaisk Airport, it is possible to stay on the territory of the Taezhnik camp
                            in tents, or in rooms, for an additional fee (if available, you need to book in advance).</p>
                        <p class="text-program">Length: raft - 25 km, car - 100 km.</p>
                    </div>
                </div>


        </section>
    </div>



    <div class="book">
        <h5 style="padding-bottom: 30px">Send a request to the organizer</h5>

        <div class="book-order">
            <div class="book-order-text">
                <div>19500 ₽</div>
                <div>4 days and 3 nights</div>
            </div>


            <div type="button" class="book-button">
                <a href="/order">Book a trip</a>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/static/javascripts/tour.js"></script>
{% endblock %}