{% extends "layout.html" %}

{% block content %}
<div class="banner">
    <div class="banner-img">
        <img src="https://icdn.bolshayastrana.com/1200x00/6f/bb/6fbbb24775897d2333a6754b4c70feac.jpeg" />
    </div>
    <h3>New Year's hike in the Urals</h3>
    <h4>Chelyabinsk region and the Urals</h4>
</div>

<div class="description">
    <p>Winter in the Urals is real, snowy, beautiful. A hike in the Taganay National Park is a great opportunity
        to see all this, enjoy the romance of snow-covered mountains and forests with comfort, since all overnight
        stays will be in heated houses - no one will freeze!</p>
</div>

<div class="gallary">
    <div class="first_row">
        <div class="gallery_item">
            <div class="gallery_preview-container"><img class="fr" src="https://icdn.bolshayastrana.com/1200x00/6f/bb/6fbbb24775897d2333a6754b4c70feac.jpeg" /></div>
        </div>
        <div class="gallery_item">
            <div class="gallery_preview-container"><img class="fr" src="https://icdn.bolshayastrana.com/1200x00/6f/bb/6fbbb24775897d2333a6754b4c70feac.jpeg" /></div>
        </div>
    </div>
    <div class="second_row">
        <div class="gallery_item">
            <div class="gallery_preview-container"><img class="sr" src="https://icdn.bolshayastrana.com/1200x00/6f/bb/6fbbb24775897d2333a6754b4c70feac.jpeg" /></div>
        </div>
        <div class="gallery_item">
            <div class="gallery_preview-container"><img class="sr" src="https://icdn.bolshayastrana.com/1200x00/6f/bb/6fbbb24775897d2333a6754b4c70feac.jpeg" /></div>
        </div>
        <div class="gallery_item">
            <div class="gallery_preview-container"><img class="sr" src="https://icdn.bolshayastrana.com/1200x00/6f/bb/6fbbb24775897d2333a6754b4c70feac.jpeg" /></div>
        </div>
        <div class="gallery_item">
            <div class="gallery_preview-container"><img class="sr" src="https://icdn.bolshayastrana.com/1200x00/6f/bb/6fbbb24775897d2333a6754b4c70feac.jpeg" /></div>
        </div>
    </div>
</div>


<section>
    <div class="Tour_program">
    <h2>Tour program</h2>
    </div>

    <ul>
        <li>
            <div class="day">
                <div class="number">1 day</div>
                <div class="tittle">Meeting. Departure to Taganay. Preparing for a hike</div>
                <button class="btn_reveal"></button>
                <div class="info">
                    <p class="text-program">We meet in Chelyabinsk at 12:50 at the Museum of the Southern Urals, first of all we will study the history of the places we plan to visit.</p>
                    <p class="text-program">After the tour, we get into the transfer and go to Taganay.</p>
                    <p class="text-program">There is no need to go anywhere on foot today, we arrive at the Central Estate and stay here for the night.</p>
                    <p class="text-program">This is the main gate of the park, from which all official routes originate.</p>
                    <p class="text-program">Let's go through registration and get the necessary permits, then check into the houses, get to know each other, have the first joint dinner and sleep.</p>
                </div>
            </div>
        </li>

        <li>
            <div class="day">
                <div class="number">2 day</div>
                <div class="tittle">Taganay spring "White Key". Climbing the mountain Two-headed Sopka</div>
                <button class="btn_reveal"></button>
                <div class="info">
                    <p class="text-program">The first transition under a backpack and a meeting of the New Year (for a group on New Year's dates).</p>
                    <p class="text-program">On the way, we will visit the White Key shelter, where the most famous Taganay spring “White Key” is located with the purest, clear and very tasty water.</p>
                    <p class="text-program">An iron staircase (200 steps) is conveniently located next to the source, next to which we will leave our backpacks and lightly start climbing Mount Dvukhlavaya Sopka.</p>
                    <p class="text-program">Rocks peep through the tops of trees like feathers of birds escaping from the mountain. That is why the southern peak of the hill is called "Feathers" (1034 m).</p>
                    <p class="text-program">After admiring the views, we go down to the backpacks, which we already miss, and continue on our way.</p>
                    <p class="text-program">Our goal is the Taganay tourist shelter, which is located in a picturesque place at the foot of Mount Kruglitsa.</p>
                    <p class="text-program">We will go there tomorrow, and today we are resting and preparing for the New Year!</p>
                    <p class="text-program">Crossing 14 km. Height 769 m.</p>
                </div>
            </div>
        </li>
    </ul>

</section>

{% endblock %}