{% extends "layout.html" %}

{% block content %}


<div class="banner">
    <img class="banner-img" src="https://icdn.bolshayastrana.com/1200x00/6f/bb/6fbbb24775897d2333a6754b4c70feac.jpeg" alt="Текст сверху картинки">
    <div class="banner-text">
        <span>New Year's hike in the Urals</span><br>
        <span>Chelyabinsk region and the Urals</span>
    </div>
</div>


<div class="main">
    <div class="description">
        Winter in the Urals is real, snowy, beautiful. A hike in the Taganay National Park is a great opportunity
            to see all this, enjoy the romance of snow-covered mountains and forests with comfort, since all overnight
            stays will be in heated houses - no one will freeze!
    </div>

    <div class="gallary">
        <div class="first_row">
            <div class="gallery_item">
                <img class="fr" src="https://icdn.bolshayastrana.com/1200x00/6f/bb/6fbbb24775897d2333a6754b4c70feac.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="fr" src="https://icdn.bolshayastrana.com/1200x00/40/f0/40f0e65d72590eee19ff34d6307053c2.jpeg" />
            </div>
        </div>

        <div class="second_row">
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/d4/4d/d44d740770162d7681d794af17a93ab2.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/f8/26/f826243174f02cd3339587ee1e7edc6c.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/4b/19/4b19794a7ca4990adbbb070de7d26ca2.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/1e/32/1e32c41c0a145f0b4192910d5c9e437c.jpeg" />
            </div>
        </div>
    </div>


    <div class="program-container">
        <section>
            <div class="Tour_program">
                <h5>Tour program</h5>
                <button class="rev_hide" name="rev">See all</button>
            </div>

                <div class="day">
                    <div class="day_name">
                            <div class="number">1st day</div>
                            <div class="tittle">Meeting. Departure to Taganay. Preparing for a hike</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">We meet in Chelyabinsk at 12:50 at the Museum of the Southern Urals, first of all we will study the history of the places we plan to visit.</p>
                        <p class="text-program">After the tour, we get into the transfer and go to Taganay.</p>
                        <p class="text-program">There is no need to go anywhere on foot today, we arrive at the Central Estate and stay here for the night.</p>
                        <p class="text-program">This is the main gate of the park, from which all official routes originate.</p>
                        <p class="text-program">Let's go through registration and get the necessary permits, then check into the houses, get to know each other, have the first joint dinner and sleep.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">2nd day</div>
                        <div class="tittle">Taganay spring "White Key". Climbing the mountain Two-headed Sopka</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">The first transition under a backpack and a meeting of the New Year (for a group on New Year's dates).</p>
                        <p class="text-program">On the way, we will visit the White Key shelter, where the most famous Taganay spring “White Key” is located with the purest, clear and very tasty water.</p>
                        <p class="text-program">An iron staircase (200 steps) is conveniently located next to the source, next to which we will leave our backpacks and lightly start climbing Mount Dvukhlavaya Sopka.</p>
                        <p class="text-program">Rocks peep through the tops of trees like feathers of birds escaping from the mountain. That is why the southern peak of the hill is called "Feathers" (1034 m).</p>
                        <p class="text-program">After admiring the views, we go down to the backpacks, which we already miss, and continue on our way.</p>
                        <p class="text-program">Our goal is the Taganay tourist shelter, which is located in a picturesque place at the foot of Mount Kruglitsa.</p>
                        <p class="text-program">We will go there tomorrow, and today we are resting and preparing for the New Year!</p>
                        <p class="text-program">Crossing 14 km. Height 769 m.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">3rd day</div>
                        <div class="tittle">Mount Kruglitsa. Kialim cordon. Mount Itsyl</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Quick wake up and breakfast!</p>
                        <p class="text-program">As a warm-up, we will lightly go to storm the top of Mount Kruglitsa (1178m).</p>
                        <p class="text-program">The trail in one direction is only 3 km, the climb is 400 m, but in winter it is not so easy to climb up, because at the foot of the trail it is covered with snow, and you have to climb the slope along a crumbling kurumnik hidden under the snow.</p>
                        <p class="text-program">We rest at the top, drink tea from thermoses and return to the Taganay shelter, collect our things and go to the Kialim cordon for the night.</p>
                        <p class="text-program">After settling, we go light to Mount Itsyl.</p>
                        <p class="text-program">It has two peaks, the highest is at around 1068 meters above sea level - this is where we will go, the climb will be 470 m. It is here that the border of the Taganay National Park passes, and at the same time the border of Europe with Asia.</p>
                        <p class="text-program">A stunning view opens from the top: in the center is the characteristic peak of the Otkliknogo Ridge, to the left is the Two-headed Hill, to the right is the highest point of the mountain system - Mount Kruglitsa, on which we were recently.</p>
                        <p class="text-program">The name "Itsyl" in translation from the Bashkir language means "eternal wind".</p>
                        <p class="text-program">Indeed, it is quite windy here, so we do not rest long and quickly return to the shelter for the night. In the evening, a hot bath awaits us, the most daring will be able to plunge into an ice hole or dive into a snowdrift.</p>
                        <p class="text-program">Crossing under a backpack 10 km. Height 600 m.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">4th day</div>
                        <div class="tittle">Peak Far Taganay</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Today is the shortest transition and the largest climb under the backpack.</p>
                        <p class="text-program">Our goal is Dalniy Taganay Peak, the northernmost and most extensive peak of the eponymous ridge.</p>
                        <p class="text-program">In the center of the peak there is a high-mountain weather station "Taganai-gora", opened on August 20, 1932 and closed in 2005, now there is a tourist shelter.</p>
                        <p class="text-program">As we climb, we will see how the forest changes: pines and birches become smaller and smaller, and disappear altogether towards the top.</p>
                        <p class="text-program">On Far Taganay, due to the lack of high vegetation, stunning views of the sky, sunsets and sunrises.</p>
                        <p class="text-program">After settling in, we will walk lightly to the crest of the "Dragon Mountain", with its jagged peak resembling the back of a monster.</p>
                        <p class="text-program">Crossing 5 km. Height 1146 m, set 550m.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">5th day</div>
                        <div class="tittle">Return to the shelter "Taganay"</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">We begin our return, today we have a simple transition to the already familiar Taganay shelter.</p>
                        <p class="text-program">We walk, we play active games.</p>
                        <p class="text-program">In the evening we cook dinner, sing songs with a guitar.</p>
                        <p class="text-program">Winter in the mountains is very beautiful, and at night, when the clear sky is strewn with stars, it is simply incomparable!</p>
                        <p class="text-program">Altitude 769 m, crossing 11 km, descent 380 m.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">6th day</div>
                        <div class="tittle">Conquest of the peak Otkliknoy greben</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">We collect things and hit the road.</p>
                        <p class="text-program">Today we are waiting for the conquest of, probably, the most beautiful peak of Taganay, which is called the Otkliknoy ridge (1155m).</p>
                        <p class="text-program">The mountain received this name for a loud, multiple echo that is reflected from an almost vertical rocky wall.</p>
                        <p class="text-program">We climb up lightly (a set of 80 m), and then, under backpacks, we continue our way to the already familiar Central Manor.</p>
                        <p class="text-program">The last cozy evening, teas and gatherings until the morning.</p>
                        <p class="text-program">Height 550 m. Crossing 14 km.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">7th day</div>
                        <div class="tittle">Museum of Nature. Departure</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">In the morning we will visit the Museum of Nature and a souvenir shop, and then we will go to Chelyabinsk on a chartered transfer, arriving at about 11 o'clock local time.</p>
                        <p class="text-program">If you wish, you can stay in the city of Zlatoust and leave by train from there.</p>
                    </div>
                </div>

        </section>
    </div>



    <div class="book">
        <h5 style="padding-bottom: 30px">Send a request to the organizer</h5>

        <div class="book-order">
            <div class="book-order-text">
                <div class="price">43200 ₽</div>
                <div>Nearest arrival: 2022-12-30</div>
                <div>7 days and 6 nights</div>

            </div>


            <div type="button" class="book-button">
                <a href="/order">Book a trip</a>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/static/javascripts/tour.js"></script>
{% endblock %}