{% extends "layout.html" %}

{% block content %}


<div class="banner">
    <img class="banner-img" src="https://icdn.bolshayastrana.com/1200x00/9f/63/9f633e54e999148f2294770c3d01208f.jpeg" alt="Текст сверху картинки">
    <div class="banner-text">
        <span>Weekly rafting on the Chusovaya river</span><br>
        <span>Ural, Perm region</span>
    </div>
</div>


<div class="main">
    <div class="description">
        Weekly rafting on the legendary river Chusovaya. The Chusovaya River is the most famous river in the Urals with amazingly beautiful nature and rich history.
        Hundreds of picturesque rocks rise along the banks of Chusovaya, by the way, the rocks on Chusovaya have long been called stones.
        On this tour you will be enchanted to admire nature, enjoy the rest from the bustle of the city and make new acquaintances.
    </div>

    <div class="gallary">
        <div class="first_row">
            <div class="gallery_item">
                <img class="fr" src="https://icdn.bolshayastrana.com/1200x00/9f/63/9f633e54e999148f2294770c3d01208f.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="fr" src="https://icdn.bolshayastrana.com/1200x00/d0/9a/d09aee9bccdd64076ba4bcdc07b18894.jpeg" />
            </div>
        </div>

        <div class="second_row">
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/74/8d/748df0906c36f3d2167b130a7e282e94.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/3b/41/3b4135c932e12cdc89f6e9a9f3e67b6c.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/25/a5/25a560b57aca566d2c4e65feaece18c9.jpeg" />
            </div>
            <div class="gallery_item">
                <img class="sr" src="https://icdn.bolshayastrana.com/1200x00/e7/77/e777552b25572afd4dd392e230c3a468.jpeg" />
            </div>
        </div>
    </div>


    <div class="program-container">
        <section>
            <div class="Tour_program">
                <h5>Tour program</h5>
                <button class="rev_hide" name="rev">See all</button>
            </div>

                <div class="day">
                    <div class="day_name">
                            <div class="number">1st day</div>
                            <div class="tittle">Departure to the village Ust-Utka</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Group gathering at 20:00 in the parking lot of the Starik Hottabych shopping center (Gorkogo St., 37).</p>
                        <p class="text-program">Departure from Izhevsk to the village. Ust-Utka, Sverdlovsk region (distance about 630 km.).</p>
                        <p class="text-program">Departure from Votkinsk local time is approximately at 21:00-21:30.</p>
                        <p class="text-program">Departure from Perm, local time approximately at 02:00 (03 August).</p>
                        <p class="text-program">Meeting place in Votkinsk and Perm as agreed.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">2nd day</div>
                        <div class="tittle">Rafting to Omutnaya stone</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Arrival, breakfast.</p>
                        <p class="text-program">Briefing.</p>
                        <p class="text-program">We collect watercraft and conquer the first 16 km of the way!</p>
                        <p class="text-program">Rafting to Omutnaya stone.</p>
                        <p class="text-program">Let's pass by the Yellow and Red stones, Kharenka's stone, a rift in front of the Rain's stone - there is a small cave in it, where the remains of a shaman were found.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">3rd day</div>
                        <div class="tittle">Walk on the Deer stone. Alloy continuation</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Walk on the Deer stone.</p>
                        <p class="text-program">Rafting to the Pisany stone - 13 km.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">4th day</div>
                        <div class="tittle">Climbing the Pisany stone. Alloy to Stone Pillars</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Climbing the Pisany stone, the Demidov cross is installed there.</p>
                        <p class="text-program">Rafting to the stone Pillars - 6 km.</p>
                        <p class="text-program">Walk to Stolby.</p>
                        <p class="text-program">They are similar to Usvinsky, only smaller.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">5th day</div>
                        <div class="tittle">Daytime</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">We swim, sunbathe, fish and take a steam bath.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">6th day</div>
                        <div class="tittle">Rafting to the stone Rostun</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Rafting to the stone Rostun - 17 km.</p>
                        <p class="text-program">On the way: Duzhnoy stone, Novikov stone (there we go to look at the karst bridge).</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">7th day</div>
                        <div class="tittle">Rafting to the Pechka stone</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Rafting to the Pechka stone - 16 km.</p>
                        <p class="text-program">On the way, we will pass by the stone Giant - the highest on the river.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">8th day</div>
                        <div class="tittle">Rafting to s. Kyn. Departure</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Rafting to s. Kyn 5 km, Perm region.</p>
                        <p class="text-program">Dismantling of boats.</p>
                        <p class="text-program">Departure home.</p>
                        <p class="text-program">The distance is about 530 km.</p>
                    </div>
                </div>

                <div class="day">
                    <div class="day_name">
                        <div class="number">9th day</div>
                        <div class="tittle">Arrival in Perm/Votkinsk/Izhevsk</div>
                    </div>
                    <div style="display: none" class="info">
                        <p class="text-program">Estimated time of arrival in Perm is 03:00 am.</p>
                        <p class="text-program">Estimated time of arrival in Votkinsk is 05:30-06:00 am.</p>
                        <p class="text-program">Estimated time of arrival in Izhevsk is 07:00 am.</p>
                    </div>
                </div>


        </section>
    </div>



    <div class="book">
        <h5 style="padding-bottom: 30px">Send a request to the organizer</h5>

        <div class="book-order">
            <div class="book-order-text">
                <div class="price">32000 ₽</div>
                <div>Nearest arrival: 2023-06-15</div>
                <div>9 days and 8 nights</div>

            </div>


            <div type="button" class="book-button">
                <a href="/order">Book a trip</a>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript" src="/static/javascripts/tour.js"></script>
{% endblock %}