* {
margin: 0;
padding: 0;
}
h1 {
	color: white;
	text-align: center;
	font-size: 90px;
	font-family: 'Lato';
	padding-top: 180px;
	font-family: Lato;
	font-weight: 100;
}
h3 {
	color: #a5b6c7;
	text-align: center;
	font-size: 34px;
	padding-top: 30px;
	padding-bottom: 70px;
	font-family: 'Lato 250';
	font-weight: 100;
}
header{
	background: #16a085;
	height: 50px;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.homebanner {
	height: 500px;
	padding-bottom: 100px;
	background: #354556;
	background-image: url(https://yogasecrets.ru/images/eventlist/events/10_1616063709.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-blend-mode: multiply;
	background-color: blue(255, 0, 0, 0.5);
}

.recent {
	background: #ecf0f1;
	height: 350px;
}
footer{
	background: #354556;
	height: 163px;
	display: flex;
	justify-content: space-between;
}
#logo {
	width: 133px;
	height: 25px;
	padding-left: 150px;
	z-index: 80px;
}

nav li {
	list-style-position: inside;
	padding: 10px;
}
nav ul {
	margin: 0;
	text-align: right;
	padding-right: 150px;
}

.top-menu{
	font-family: Open Sans;
	font-size: 14;
}
.top-menu li {
	display: inline-block;
}
.top-menu li.active {
	color: #fff;
}
.top-menu a {

}


button {
    display: block;
    margin: auto;
    background: transparent;
}
.colomns {
	margin: 0 auto;
	background: white;
	height: 375px;
	display: flex;
	width: 960px;
	justify-content: space-between;
	text-align: center;
}

.colomn {
	width: 300px;
}
.learn {
	width: 190px;
	height: 50px;
	border-radius: 5px;
	color: white;
	border: 2px solid #d1d9e2;
	padding: 0.5em 1em;
	font-size: 16px;
	font-family: Lato;
	font-weight: 300;
}
.topic {
	padding-top: 80px;
	color: #16a085;
	font-size: 28px;
	font-family: Lato;
	font-weight: 300;
}
.lorem {
	color: #7f8c8d;
	padding-top: 45px;
	padding-bottom: 45px;
	font-size: 16px;
	font-family: Lato;
}
h5 {
	color: #16a085;
	font-size: 12px;
	font-family: Lato;
	font-weight: 400;
}
h2 {
	color: white;
	font-size: 18px;
	font-family: Open Sans;
	font-weight: 300;
}
.fcols {
	padding-left: 150px;
	padding-top: 40px;
	margin: 0;
	display: flex;
	width: 630px;
	justify-content: space-between;
	text-align: left;
}
.abzfoot {
	color: #697a8b;
	padding-top: 20px;
	font-size: 13px;
	font-family: Open Sans;
	font-weight: 400;
}
#logo2 {
	padding-right: 150px;
	width: 192px;
	height: 36px;
}
.logobot {
	display: flex;
	align-items: center;
}
#post1 {
	width: 300px;
}
#post2 {
	width: 300px;
}
#post3 {
	width: 300px;
}
.pic {
	position: relative;
	width: 300px;
	height: 103px;
}

.RecentPosts {
	margin: 0 auto;
	display: flex;
	width: 960px;
	justify-content: space-between;
	text-align: center;
}
.recentposts { 
	display: flex;
	width: 960px;
	justify-content: space-between;
	color: #2c3e50;
	text-align: center;
	font-size: 28px;
	margin-top: 20px;
	padding-bottom: 20px;
	font-family: Lato;
	font-weight: 300;
}
.contain{
	margin: 0 auto;
	display: flex;
	width: 960px;
	height: 206px;
	justify-content: space-between;
	text-align: center;
}
.zagalovoc {
	padding-top: 10px;
	color: #16a085;
	text-align: start;
    font-size: 18px;
	font-family: Open Sans;
	font-weight: 400;
}
.Donec {
	color: #7f8c8d;
	padding-top: 15px;
    width: 300px;
    text-align: start;
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 400;
}

a{
	text-decoration: none;
	color: #d1d9e2;
	background: #16a085;
	line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; 
}

a:hover{
  color: #7fff00;
  text-shadow: 2px 2px 3px black;
}

.thumb {
    background: none;
}


.gallary {
    min-height: 300px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: #ecf0f1;
}

.cssSlider {
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
}
.cssSlider .slides {
	overflow: hidden;
	overflow: hidden;
	width: 100%;
	height: 70vmin;
	margin: 0;
	padding: 0;
	list-style: none;
}
.cssSlider .slides > li {
	width: 100%;
	height: 70vmin;
	position: absolute;
	z-index: 1;
	overflow: hidden;
}
.cssSlider .slides > li > img {
	width: 100%;
	height: 100%;
}
/*
.cssSlider .slides > li:first-child:not(:target) {
	z-index: 1;
	-webkit-transform: translateY(0%);
	        transform: translateY(0%);
}
*/
.cssSlider .thumbnails {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}
.cssSlider .thumbnails > li {
	float: left;
	width: 20%;
}
.cssSlider .thumbnails > li > a {
	display: block;
}
.cssSlider .thumbnails > li > a > img {
	width: 100%;
	height: 150px;
}

.cssSlider .slides li:target {
	z-index: 3;
	-webkit-animation: slide 1s 1;
}
.cssSlider .slides li:not(:target) {
	-webkit-animation: hidden 1s 1;
}
@-webkit-keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@keyframes slide {
	0% {
		-webkit-transform: translateX(-100%);
		        transform: translateX(-100%);
	}
	100% {
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
}
@-webkit-keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}
@keyframes hidden {
	0% {
		z-index: 2;
		-webkit-transform: translateX(0%);
		        transform: translateX(0%);
	}
	100% {
		z-index: 2;
		-webkit-transform: translateX(100%);
		        transform: translateX(100%);
	}
}

.info {
    width: 960px;
    height: auto;
    margin: 30px auto;
    padding: 25px 40px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 6px rgb(0 0 0 / 15%);
    text-align: center;
}

.topic-info {
	padding-top: 80px;
	color: #16a085;
	font-size: 28px;
	font-family: Lato;
	font-weight: 300;
}
.text-info {
	color: #7f8c8d;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	font-family: Lato;
}

.text-gallary {
    color: #ecf0f1;
    background: #56ad9c;
    padding-top: 30px;
	padding-bottom: 30px;
}