* {
	margin: 0;
	padding: 0;
}

*, :after, :before {
    /*box-sizing: border-box;*/
    outline: none;
}

header{
	background: #16a085;
	height: 50px;
	width: 100%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#logo {
    width: 213px;
	height: 40px;
	padding-left: 150px;
	z-index: 80px;
}
a{
	text-decoration: none;
	color: #d1d9e2;
	background: #16a085;
	line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
}

a:hover{
  color: #7fff00;
  text-shadow: 2px 2px 3px black;
}

nav li {
	list-style-position: inside;
	padding: 10px;
}
nav ul {
	margin: 0;
	text-align: right;
	padding-right: 150px;
}
.top-menu{
	font-family: Open Sans;
	font-size: 14;
}

.top-menu li {
	display: inline-block;
}
.top-menu li.active {
	color: white;
}

body {
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    margin: 0;
}
h1{
	font-size: 50px;
	color: #ffffff;
	font-family: Lato;
	font-weight: 100;
}

h2 {
	color: white;
	font-size: 18px;
	font-family: Open Sans;
	font-weight: 300;
}

h3 {
	font-size: 20px;
	color: white;
	font-family: Lato;
	font-weight: 300;
	text-align: left;
}

h4 {
    font-size: 1rem;
    line-height: 1.5;
    color: #fff;
    text-decoration: none;
}

h5{
	color: #354556;
	font-size: 28px;
	font-family: Lato;
	font-weight: 300;
}

img {
    display: block;
    object-fit: cover
}

.banner {
    width: 100%;
    margin: 0 auto;
    height: 410px;
    position: relative;
}


.banner-img {
    width: 100%;
    height: 410px;
}

.banner-text {
    position: absolute;
    bottom: 3%;
    left: 14%;
    color: white;
    text-align: left;
    padding: 10px;
    background: #00000094;
}

.banner-text span {
    font: bold 24px Helvetica, Sans-Serif;

}

.main {
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.description {

    margin-top: 30px;
    margin-bottom: 40px;
    color: #7f8c8d;
	font-size: 24px;
	font-family: Lato;
}

p {
    color: #7f8c8d;
	font-size: 16px;
	font-family: Lato;
}

li {
    display: list-item;
}

.day {
    margin-bottom: 16px;
    padding: 12px 24px;
    background: linear-gradient(0deg,hsla(0,0%,100%,.2),hsla(0,0%,100%,.2));
    box-shadow: inset 0 0 0 1px #eef1f5;
    border-radius: 8px;
}

.Tour_program {
    margin-bottom: 24px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.gallary {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: auto;
    width: 653px;
    flex-direction: column
}

.gallery_item {
    padding: 0 4px 8px;
}

/*
.gallery_preview-container {
    position: relative;
    border-radius: 4px;
    height: 90px;
    overflow: hidden;
    cursor: pointer;
    transition: transform .25s,box-shadow .3s;
    will-change: transform;
}*/


.first_row {
    display: flex;
}

.second_row {
    display: flex;
    height: 95px;
}

.fr {
    height: 200px;
    width: 306px;
    border-radius: 5px;
    transition: 1s;
}

.fr:hover {
    transform: scale(1.5);
}

.sr {
    height: 95px;
    width: 149px;
    border-radius: 5px;
    transition: 1s;
}

.sr:hover {
    transform: scale(2.4);
}

.program-container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.rev_hide {
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;

	border-radius: 5px;
	color: #16a085;
	border: 2px solid #d1d9e2;
	padding: 0.8em 2em;
	font-size: 16px;
	font-family: Lato;
	font-weight: 300;
	background: transparent;

}

.rev_hide:hover {
    text-shadow: 2px 2px 3px black;
}

.Tour_program {
    display: flex;
    justify-content: space-between;
}

.info {
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

.info p{
    padding-top: 8px;
    padding-bottom: 8px;
}

.day_name {
    color: #16a085;
	font-size: 20px;
	font-family: Lato;
	font-weight: 300;
}

.book-order-text {
    color: #000000;
	font-size: 20px;
	font-family: Lato;
	font-weight: 300;
}

.book-button a{
    margin-left: auto;
    margin-right: auto;
    width: 190px;
	height: 30px;
	border-radius: 5px;
	color: #16a085;
	border: 2px solid #d1d9e2;
	padding: 1em 3em;
	font-size: 16px;
	font-family: Lato;
	font-weight: 300;
	background: transparent;
}

.book {
    padding-bottom: 30px;
}

.book-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(0deg,hsla(0,0%,100%,.2),hsla(0,0%,100%,.2));
    box-shadow: inset 0 0 0 2px #39b14b;
    border-radius: 8px;
    padding: 20px;
}

.price{
    font-size: 30px;
}

footer{
	background: #354556;
	height: 163px;
	display: flex;
	justify-content: space-between;
	box-sizing: none;
}
.fcols {
	padding-left: 150px;
	padding-top: 40px;
	margin: 0;
	display: flex;
	width: 630px;
	justify-content: space-between;
	text-align: left;
}
.abzfoot {
	color: #697a8b;
	padding-top: 20px;
	font-size: 13px;
	font-family: Open Sans;
	font-weight: 400;
}
#logo2 {
	padding-right: 150px;
    width: 213px;
	height: 40px;
}
.logobot {
	display: flex;
	align-items: center;
}

.lorem{
	font-size: 16px;
	color: #7f8c8d;
	font-family: Lato;
	font-weight: 400;
}